html {
    box-sizing: border-box;
}
html { height: 100%; overflow:auto; }
body { height: 100%;}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

}

.hidden {
    display: none;
}

ul{
    list-style-type: none;
    margin:0;
}

.main {
margin-bottom:5rem;
}

.invert{
filter: brightness(0) invert(1);
}

.white{
    color:var(--colorWhite);
}

h2,
.h2-like,
h3 {
    color: var(--colorDark);
}

section{
    margin-bottom:8rem;
}

