:root {
  --colorMain: #1A4635 ;
  --colorSecondary:#FECB35;
  --colorAlt: #0A674A;
  --colorDark:#262626 ;
  --colorWhite: #FFFFFF ;
  --colorGray: #969696 ;
  --fontSizeXSmall:11px;
  --fontSizeSmall:13px;
  --fontSizeRegular:30px;
  --fontSizeBig:35px;
  --font: "Museo Sans";
  --fontWeightSmall: 300;
  --fontWeightRegular: 500 ;
  --fontWeightMedium: 500 ;
  --fontWeightBold: 900;
  --lineHeightSmall: 16 ;
  --lineHeightBig: 26 ;
}
