:root {
  --colorMain: #1A4635 ;
  --colorSecondary:#FECB35;
  --colorAlt: #0A674A;
  --colorDark:#262626 ;
  --colorWhite: #FFFFFF ;
  --colorGray: #969696 ;
  --fontSizeXSmall:11;
  --fontSizeSmall:13;
  --fontSizeRegular:30;
  --fontSizeBig:35;
  --font: "Museo Sans";
  --fontWeightSmall: 400;
  --fontWeightRegular: 500 ;
  --fontWeightBold: 900;
  --lineHeightSmall: 16 ;
  --lineHeightBig: 26 ;
}
